.container{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 437px;
    padding: 0px;
    margin: 0px;
    align-items: center;
    

}
.padding{
    padding: 0px 140px;
    padding-top: 49px;
}
.icon {
    width: 15px;
    height: 15px;
    display: flex;

}
.menu{
    color: black;
    text-decoration: none;
    display: flex;
    align-items: baseline;
    width: 63px;
    height: 30px;

    


}

.logo {
    width: 160px;
    height: 65px;
    display: flex;

}

.footer{
    display: flex;

}
.networks-icon{
    display: flex;
    width: 81px;
    height: 81px;
    background: linear-gradient(0deg, #E1E1E1, #E1E1E1);
    border-radius: 50%;
    align-items: center;
    justify-content: center;


}

.wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.networks{
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
    width: 261px;
    justify-content: space-between;

    


}
.inscription{
    padding: 0px;
    margin-left: 139px;
}

.flex{
    display: flex;
}
.font{
    font-size: 2.4rem;
    margin: 0px;
}