.container{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 437px;
    padding: 0px;
    margin: 0px;
    align-items: center;
    

}
.padding{
    padding: 0px 140px;
    
}
.margine{
    margin-bottom: 80px;
}


.basket{
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    justify-content: space-between;
    width: 120px;


}

.basket-inscription {
    display: flex;
    padding: 0px;
    margin: 0px;
    font-size: 1.2rem;


    

}       
    

.menu{
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.2rem;

}

.logo {
    width: 160px;
    height: 65px;
    display: flex;

}


.networks-icon{
    display: flex;
    width: 81px;
    height: 81px;
    background: linear-gradient(0deg, #E1E1E1, #E1E1E1);
    border-radius: 50%;
    align-items: center;
    justify-content: center;


}

.wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 75px;
    align-items: center;
    

}
.networks{
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
    width: 261px;
    justify-content: space-between;

    


}
.inscription{
    padding: 0px;
    margin-left: 139px;
}

.flex{
    display: flex;
    
}
.font{
    font-size: 2.4rem;
    margin: 0px;
}
.p_footer{
  margin-top: 5px;
}

.h2{
    font-size: 3.8rem;
    margin: 0px;
}
.h3{
    font-size: 1.5rem;
}
.h4{
    font-size: 45px;
    display: flex;
    margin-top: 73px;
    margin-bottom: 32px;
}
.h5{
  margin: 0px;
  font-size: 3rem;
}

.background{
    background: rgba(255, 255, 255, 1);
    max-width: 1440px;
    max-height: 2360px;
    margin: 0 auto;
    position: relative
    
}

.rectangle{
    display: flex;
    width: 240px;
    height: 50px;
    background: rgba(251, 86, 90, 1);
    border-radius: 3%;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
.p-rectangle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;

}
.order{
display: flex;
width: 160px;
height: 50px;
background: rgba(251, 86, 90, 1);
border-radius: 3%;
text-decoration: none;
margin-top: 40px;
}
.p-order{
display: flex;
justify-content: center;
align-items: center;
width: 160px;
color: rgba(255, 255, 255, 1);
}

.button{
  display: flex;
width: 219px;
height: 50px;
background: rgba(251, 86, 90, 1);
border-radius: 3%;
text-decoration: none;
margin-top: 35px;
}
.p-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 219px;
  color: rgba(255, 255, 255, 1);
}
.slides{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid;
    border-color: rgba(238, 238, 238, 1);
    padding-bottom: 80px;
    width: 1104px;
    height: 354px;
    
}
.display{
    display: none;
}
.page-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.page-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 620px;
}
.page-three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
}


.margin{
    margin-top: 30px;
    margin-bottom: 40px;
    width: 325px;
}
.margin-two{
    margin-top: 30px;
    margin-bottom: 40px;
}
.margin-three{
    margin-top: 30px;
    margin-bottom: 40px;
}
.phone{
    width: 760px;
    justify-content: flex-start;
    display: flex;
}

.radio{
    position: absolute;
    width: 88px;
    height: 18px;
    left: 676px;
    top: 387px;
}
.custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .custom-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  
  .custom-radio+label::after {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background: white;
  }
  .custom-radio:not(:disabled):not(:checked)+label:hover::after {
    border-color: gray;
  }
  /* стили для активной радиокнопки (при нажатии на неё) */
  .custom-radio:not(:disabled):active+label::after {
    background-color: rgba(193, 193, 193, 1);
    border-color: gray;
  }
  /* стили для радиокнопки, находящейся в состоянии checked */
  .custom-radio:checked+label::after {
    border: 1px solid white;
    background-image: radial-gradient(white 20%, rgba(193, 193, 193, 1) 30%, white 40%);
  }
  .p-li{
    font-size: 1.2rem;
    margin-top: 40px;
    margin-bottom: 23px;
  }
  .ul-main{
    padding: 0px;
  }
  .li-main{
    list-style-type: none;
    display: flex;
    margin: 20px 0px;
  }
  .li-main::before {
    content: url(./img/Rectangle\ 10.png);
    align-items: center;
    display: flex;
    height: 10px;
    width: 50px;
  }
  .p-mein{
    display: flex;
    align-items: center;
    margin: 0px;
  }
  .tabl{
    width: 358px;
  }
  .table-first{
    font-size: 3.5rem;
    margin-bottom: 10px;
  }
 
  caption{
    font-size: 1.4rem;
    margin-top: 40px;
    margin-bottom: 31px;
  }
  .just{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid;
    border-color: rgba(238, 238, 238, 1);
    padding-bottom: 73px;
  }
  .logo-main{
    margin-top: 39px;
  }
  .logotipe{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid;
    border-color: rgba(238, 238, 238, 1);
    padding-bottom: 45px;
    padding-top: 45px;
  }
  .logo-logo{
    border-right: 2px solid;
    border-color: rgba(238, 238, 238, 1);
    padding-right: 45px;
    height: 52px;
  }
  .map{
    display: flex;
    margin-left: -140px;
    margin-right: -140px;
  }
  .DESIGN{
    position: absolute;
    width: 319px;
    height: 308px;
    background-color: white;
    top: 1897px;
    left: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .logo-map{
    position: absolute;
    top: 1850px;
    left: 722px;
  }
  .margin-map{
    margin-top: 80px;
    margin-bottom: 70px;
  }
  .form_div{
    position: absolute;
    width: 960px;
    height: 590px;
    background-color: white;
    top: 1658px;
    left: 240px;
    border: 1px solid black;
  }
  .form{
    display: block;
  }
  .legend{
    font-size: 3rem;
    
  }
  .fieldset{
    height: 100px;
    border: none;
    margin: 0px 60px;
    display: flex;
    padding: 0;
    justify-content: space-between;
  }
  .vector{
    width: 21px;
    height: 21px;
    padding: 0;
  }
  .div_flex_form{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 30px;
    align-items: center;

  }
  .fieldset_text{
    display: flex;
    flex-direction: column;
    border: none;
    margin: 30px 60px;
    padding: 0;
    font-size: 1.3rem
  }
  .fieldset_email{
    border: none;
    margin: 0px;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 360px;
    font-size: 1.3rem

  }
  .fieldset_name{
    border: none;
    width:360px;
    margin: 0px;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem
  }
  .input_name{
    height: 50px;
    font-size: 1.2rem;
    padding-left: 15px;
    margin-top: 10px
  }
  .input_email{
    height: 50px;
    font-size: 1.2rem;
    padding-left: 15px;
    margin-top: 10px
  }
  .input_text{
    font-size: 1.2rem;
    height: 118px;
    padding-left: 15px;
    resize: none;
    margin-top: 10px
  }
  .buttom_form{
    display: flex;
    width: 259px;
    height: 50px;
    background: rgba(251, 86, 90, 1);
    text-decoration: none;
    border-radius: 3%;
    margin-left: 60px;
    border: 0px;
  }
  .buttom_form_back{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 259px;
    height: 20px;
  
  }
  .cross{
    display: flex;
    align-items: center;
  }
  .cross::after, .cross::before{
    background-color: red;
    width: 2px;
    height: 21px;
    display: flex;
    content: " ";
    position: absolute;
  }
  .cross::before{
    transform: rotate(-45deg);
  }
  .cross::after{
    transform: rotate(45deg)
  }